[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
autopep8 = "*"
rope = "*"
v = {editable = true,version = "*"}

[packages]
requests = "*"
lxml = "*"
lzstring = "*"

[requires]
python_version = "3.7"
